<!DOCTYPE html>
<html>
  <head>
    <title>Interactive maps for Django web apps</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
   <h1>Vulnerability Index</h1>
    <div id='map' style='width: 100%; height: 600px;'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFya3l1MTIzNTgiLCJhIjoiY2thdTdkM242MHd1bzJxcjJjbzNlYXlkZCJ9.y09b-zDcGK44RXtLmQOp-w';
    var map = new mapboxgl.Map({
    container: 'map',
     style: 'mapbox://styles/mapbox/streets-v9',
     center: [-97.18, 38.97],
     zoom: 4
    });
     map.on('load', function() {
    map.addLayer({
      id: 'covid19',
      type: 'circle',
      source: {
        type: 'vector',
        url: 'mapbox://markyu12358.ckauvkmbv16yy23qq6c7h1q3u-97ype'
      },
      'source-layer': 'covid19',
       paint: {
        'circle-radius': ['/', ['number', ['to-number',['get', 'Covid-19 Vulnerability Index']], 20], 5],
      'circle-opacity': 0.8,
      'circle-color': 'rgb(245, 84, 66)'
    }
    });
  });
    </script>
  </body>
</html>
